<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3QZy0I2fc-FjTMigLp0vFhMUVY88t7_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>20395762276</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>iOSClub</string>
	<key>PROJECT_ID</key>
	<string>vineyard-df733</string>
	<key>STORAGE_BUCKET</key>
	<string>vineyard-df733.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:20395762276:ios:fbae2c998cd7d40e6db571</string>
</dict>
</plist>